In [50]:
import pandas as pd # 데이터 핸들링 
import numpy as np 
import matplotlib.pyplot as plt # 데이터 시각화 
%matplotlib inline
import seaborn as sns # 데이터 시각화(고급분석)
import warnings
warnings.filterwarnings("ignore")

In [51]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity="all"

In [71]:
df = pd.read_csv('data/완성.csv')
df

,brand,name,type,km,year,accident,color,location,price,wd,trim
0,기아,K5,가솔린,110575,2011,무사고,검정색,인천,650,2WD,1
1,기아,K5,가솔린,106819,2014,무사고,검정색,인천,940,2WD,1
2,기아,K5,가솔린,29151,2019,무사고,검정색,충북,1890,2WD,1
3,기아,K5,가솔린,8766,2021,무사고,검정색,경기,3190,2WD,1
4,기아,K5,가솔린,101196,2012,무사고,검정색,대구,820,2WD,2
...,...,...,...,...,...,...,...,...,...,...,...
64800,랜드로버,레인지로버 SE,디젤,84208,2016,무사고,흰색,경기,3390,2WD,2
64801,랜드로버,디스커버리 SE,디젤,47000,2018,무사고,흰색,인천,5133,2WD,1
64802,랜드로버,디스커버리 SE,디젤,47120,2018,무사고,흰색,대구,3390,2WD,1
64803,랜드로버,디스커버리 SE,디젤,36000,2017,무사고,흰색,경기,5999,2WD,1
64804,랜드로버,레인지로버 SE,디젤,25500,2018,무사고,흰색,서울,5278,2WD,2

In [72]:

df['brand'].unique()

array(['기아', '현대', '르노삼성', '쌍용', '제네시스', '벤츠', 'BMW', '폭스바겐', '아우디', '포드',
       '미니', '쉐보레', '랜드로버'], dtype=object)

In [73]:

df['name'] = df.apply(lambda x: x['name'].replace('TDI',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('쏘렌토R','쏘렌토'), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('AD',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('2.3',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('3.5',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('IG',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('HG',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('ix',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('(RG3)',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('CDI',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('TSI',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('LF',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('CRDi 카고',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('(JS)',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('5.0L',''), axis = 1)
df['name'] = df.apply(lambda x: x['name'].replace('\s+',' '), axis = 1)
df['name'] = df.apply(lambda x: x['name'].strip(), axis = 1)
df

,brand,name,type,km,year,accident,color,location,price,wd,trim
0,기아,K5,가솔린,110575,2011,무사고,검정색,인천,650,2WD,1
1,기아,K5,가솔린,106819,2014,무사고,검정색,인천,940,2WD,1
2,기아,K5,가솔린,29151,2019,무사고,검정색,충북,1890,2WD,1
3,기아,K5,가솔린,8766,2021,무사고,검정색,경기,3190,2WD,1
4,기아,K5,가솔린,101196,2012,무사고,검정색,대구,820,2WD,2
...,...,...,...,...,...,...,...,...,...,...,...
64800,랜드로버,레인지로버 SE,디젤,84208,2016,무사고,흰색,경기,3390,2WD,2
64801,랜드로버,디스커버리 SE,디젤,47000,2018,무사고,흰색,인천,5133,2WD,1
64802,랜드로버,디스커버리 SE,디젤,47120,2018,무사고,흰색,대구,3390,2WD,1
64803,랜드로버,디스커버리 SE,디젤,36000,2017,무사고,흰색,경기,5999,2WD,1
64804,랜드로버,레인지로버 SE,디젤,25500,2018,무사고,흰색,서울,5278,2WD,2

In [74]:
df['name'].unique()

array(['K5', 'K7', '모하비', '스포티지', '카니발', '쏘렌토', '레이', 'K9', '포르테', '모닝',
       'K8', '카렌스', '스팅어', 'K3', '오피러스', '프라이드', '로체', '스토닉', '셀토스', '쏘울',
       '쎄라토', '니로', '옵티마', '봉고3', '그랜저', '제네시스', '쏘나타', '아슬란', '싼타페',
       '크루즈', '아반떼', '투싼', 'i3', '베뉴', '엑센트', '코나', '벨로스터', '스타렉스', '포터2',
       '에쿠스', '팰리세이드', '쏠라티', 'i40', '스타리아', 'i30', '그랜드스타렉스', '맥스크루즈',
       '엑센트(신형)', '펠리세이드', 'M6', 'SM7', 'M5', 'M3', '클리오', '캡처', '트위지',
       '조에', 'QM5', 'QM6', 'SM3', 'SM5', 'SM6', '티볼리', '코란도', '렉스턴',
       '렉스턴 RX7', '로디우스', '렉스턴 RX4', '액티언', '렉스턴 RX6',
       '코란도 어드벤처 60th 에디션', '체어맨', '코란도 익스트림', '카이런', 'EQ900', 'G80',
       'G70', 'G90', 'GV80', 'GV70', 'S350 블루텍', 'E300', 'E220', 'S560',
       'GLE350', 'S4.0', 'S500L', 'S63', 'E220 블루텍', 'S350', 'GLC43',
       'S350L', 'S500', 'E350', 'C200', 'S550', 'S600', 'E200',
       'S350L 블루텍', 'E250 블루텍', 'C220', 'CLA220', 'GLC220', 'GLK220',
       'G63', 'A200', 'GLC300', 'GLA220', 'E400', 'CLS4.0', 'CLS63',
       'A220', 'CLA45', '200', 'GLC350e', 'GLA45', 'GLC250', 'CLS350',
       'C220 블루텍', 'B200', 'CLS250', 'CLA250', 'ML350 블루텍', 'E250', 'C63',
       'A45', 'CLS450', '118', '320', '530', '520', '730Ld', 'X1  20',
       'X4 20', 'X5  30', 'X6 30', '740Li', '428   컨버터블', '750Li',
       '640    그란쿠페', '750Ld', '740', 'X6 40', '730', '330', '420  그란쿠페',
       '528', '428   쿠페', '420   쿠페', '티구안', '골프', '폴로', 'GT', '투아렉 블루모션',
       '아테온', '파사트', '페이톤', '제타', '골프 블루모션', '뉴 CC 블루모션', '비틀', 'CC',
       '제타 블루모션', '뉴 CC', '시로코', '티록', '투아렉', 'CC 블루모션', 'A7', 'TT', 'A3',
       'A6', 'S7', 'A8', 'A4', 'A5', 'Q5', 'R8', 'Q3', 'Q7', 'S5', 'S6',
       'S8', 'e-트론', 'S3', 'Q8', 'S4', '토러스 2.0 에코부스트', '몬데오 2.0 트렌드',
       '익스플로러', 'F150', '머스탱 쿠페', '토러스', '머스탱 컨버터블', '몬데오 2.0 티타늄', '쿠퍼',
       '쿠퍼 SE', '쿠퍼 컨트리맨', '쿠퍼 5도어', '쿠퍼 JCW', '로드스터', '쿠퍼 컨트리맨 파크래인',
       '라세티', '다마스', '마티즈', '말리부', '아베오', '스파크', '알페온', '올란도', '윈스톰',
       '익스프레스밴', '임팔라', '카마로', '캡티바', '콜로라도', '트레일블레이저', '볼트', '트래버스',
       '트랙스', '레인지로버 SE', '레인지로버 AB', '디스커버리 SE', '레인지로버', '레인지로버 Vogue',
       '프리랜더 SE'], dtype=object)

In [75]:
df['brand'].unique()

array(['기아', '현대', '르노삼성', '쌍용', '제네시스', '벤츠', 'BMW', '폭스바겐', '아우디', '포드',
       '미니', '쉐보레', '랜드로버'], dtype=object)

In [76]:
sam = df[df['brand']=='르노삼성']
sam

      brand name type      km  year accident color location  price   wd  trim
41076  르노삼성   M6  LPG  100759  2017      무사고   검정색       전북   1180  2WD     1
41077  르노삼성  SM7  가솔린  152307  2012      무사고   검정색       경기    600  2WD     3
41078  르노삼성   M5  가솔린   76160  2011      무사고   검정색       서울    450  2WD     1
41079  르노삼성   M5  가솔린   23607  2017      무사고   검정색       경기   1250  2WD     1
41080  르노삼성   M6  가솔린   75270  2018      무사고   검정색       경기   1850  2WD     3
...     ...  ...  ...     ...   ...      ...   ...      ...    ...  ...   ...
43605  르노삼성  SM6  가솔린    6000  2020      무사고    흰색       경기   2090  2WD     2
43606  르노삼성  SM6  LPG    2684  2017      무사고    흰색       인천   1710  2WD     1
43607  르노삼성  SM6  가솔린    6000  2020      무사고    흰색       경기   2090  2WD     2
43608  르노삼성  SM6  가솔린   46348  2018      무사고    흰색       경기   1450  2WD     1
43609  르노삼성  SM6  가솔린   18177  2019      무사고    흰색       경기   2120  2WD     2

[2534 rows x 11 columns]

In [77]:
df.drop(df.loc[df['brand']=='르노삼성'].index, inplace=True)
df['brand'].unique()

array(['기아', '현대', '쌍용', '제네시스', '벤츠', 'BMW', '폭스바겐', '아우디', '포드', '미니',
       '쉐보레', '랜드로버'], dtype=object)

In [78]:
sam['name'].unique()

array(['M6', 'SM7', 'M5', 'M3', '클리오', '캡처', '트위지', '조에', 'QM5', 'QM6',
       'SM3', 'SM5', 'SM6'], dtype=object)

In [82]:
sam.reset_index(inplace = True)
sam.drop(['index'], axis = 1,inplace = True)
sam

     brand name type      km  year accident color location  price   wd  trim
0     르노삼성   M6  LPG  100759  2017      무사고   검정색       전북   1180  2WD     1
1     르노삼성  SM7  가솔린  152307  2012      무사고   검정색       경기    600  2WD     3
2     르노삼성   M5  가솔린   76160  2011      무사고   검정색       서울    450  2WD     1
3     르노삼성   M5  가솔린   23607  2017      무사고   검정색       경기   1250  2WD     1
4     르노삼성   M6  가솔린   75270  2018      무사고   검정색       경기   1850  2WD     3
...    ...  ...  ...     ...   ...      ...   ...      ...    ...  ...   ...
2529  르노삼성  SM6  가솔린    6000  2020      무사고    흰색       경기   2090  2WD     2
2530  르노삼성  SM6  LPG    2684  2017      무사고    흰색       인천   1710  2WD     1
2531  르노삼성  SM6  가솔린    6000  2020      무사고    흰색       경기   2090  2WD     2
2532  르노삼성  SM6  가솔린   46348  2018      무사고    흰색       경기   1450  2WD     1
2533  르노삼성  SM6  가솔린   18177  2019      무사고    흰색       경기   2120  2WD     2

[2534 rows x 11 columns]

In [85]:
for i in range(0,len(sam)):
    if sam['name'][i]=='M6':
        sam['name'][i]='SM6'
    elif sam['name'][i]=='M5':
        sam['name'][i]='SM5'
    elif sam['name'][i]=='M3':
        sam['name'][i]='SM3'
    else :
        pass

In [86]:
sam['name'].unique()

array(['SM6', 'SM7', 'SM5', 'SM3', '클리오', '캡처', '트위지', '조에', 'QM5', 'QM6'],
      dtype=object)

In [87]:
df = pd.concat([df,sam])
df

     brand name type      km  year accident color location  price   wd  trim
0       기아   K5  가솔린  110575  2011      무사고   검정색       인천    650  2WD     1
1       기아   K5  가솔린  106819  2014      무사고   검정색       인천    940  2WD     1
2       기아   K5  가솔린   29151  2019      무사고   검정색       충북   1890  2WD     1
3       기아   K5  가솔린    8766  2021      무사고   검정색       경기   3190  2WD     1
4       기아   K5  가솔린  101196  2012      무사고   검정색       대구    820  2WD     2
...    ...  ...  ...     ...   ...      ...   ...      ...    ...  ...   ...
2529  르노삼성  SM6  가솔린    6000  2020      무사고    흰색       경기   2090  2WD     2
2530  르노삼성  SM6  LPG    2684  2017      무사고    흰색       인천   1710  2WD     1
2531  르노삼성  SM6  가솔린    6000  2020      무사고    흰색       경기   2090  2WD     2
2532  르노삼성  SM6  가솔린   46348  2018      무사고    흰색       경기   1450  2WD     1
2533  르노삼성  SM6  가솔린   18177  2019      무사고    흰색       경기   2120  2WD     2

[64805 rows x 11 columns]

In [88]:
df.to_csv('data/완성_수정.csv')

In [92]:
df['brand'].unique()

array(['기아', '현대', '쌍용', '제네시스', '벤츠', 'BMW', '폭스바겐', '아우디', '포드', '미니',
       '쉐보레', '랜드로버', '르노삼성'], dtype=object)

In [89]:
df[df['brand']=='기아']['name'].unique()

array(['K5', 'K7', '모하비', '스포티지', '카니발', '쏘렌토', '레이', 'K9', '포르테', '모닝',
       'K8', '카렌스', '스팅어', 'K3', '오피러스', '프라이드', '로체', '스토닉', '셀토스', '쏘울',
       '쎄라토', '니로', '옵티마', '봉고3'], dtype=object)

In [90]:
df[df['brand']=='현대']['name'].unique()

array(['그랜저', '제네시스', '쏘나타', '아슬란', '싼타페', '크루즈', '아반떼', '투싼', 'i3', '베뉴',
       '엑센트', '코나', '벨로스터', '스타렉스', '포터2', '에쿠스', '팰리세이드', '쏠라티', 'i40',
       '스타리아', 'i30', '그랜드스타렉스', '맥스크루즈', '엑센트(신형)', '펠리세이드'],
      dtype=object)

In [91]:
df[df['brand']=='르노삼성']['name'].unique()

array(['SM6', 'SM7', 'SM5', 'SM3', '클리오', '캡처', '트위지', '조에', 'QM5', 'QM6'],
      dtype=object)

In [93]:
df[df['brand']=='쌍용']['name'].unique()

array(['티볼리', '코란도', '렉스턴', '렉스턴 RX7', '로디우스', '렉스턴 RX4', '액티언',
       '렉스턴 RX6', '코란도 어드벤처 60th 에디션', '체어맨', '코란도 익스트림', '카이런'],
      dtype=object)

In [94]:
df[df['brand']=='제네시스']['name'].unique()

array(['EQ900', 'G80', 'G70', 'G90', 'GV80', 'GV70'], dtype=object)

In [95]:
df[df['brand']=='벤츠']['name'].unique()

array(['S350 블루텍', 'E300', 'E220', 'S560', 'GLE350', 'S4.0', 'S500L',
       'S63', 'E220 블루텍', 'S350', 'GLC43', 'S350L', 'S500', 'E350',
       'C200', 'S550', 'S600', 'E200', 'S350L 블루텍', 'E250 블루텍', 'C220',
       'CLA220', 'GLC220', 'GLK220', 'G63', 'A200', 'GLC300', 'GLA220',
       'E400', 'CLS4.0', 'CLS63', 'A220', 'CLA45', '200', 'GLC350e',
       'GLA45', 'GLC250', 'CLS350', 'C220 블루텍', 'B200', 'CLS250',
       'CLA250', 'ML350 블루텍', 'E250', 'C63', 'A45', 'CLS450'],
      dtype=object)

In [96]:
df[df['brand']=='BMW']['name'].unique()

array(['118', '320', '530', '520', '730Ld', 'X1  20', 'X4 20', 'X5  30',
       'X6 30', '740Li', '428   컨버터블', '750Li', '640    그란쿠페', '750Ld',
       '740', 'X6 40', '730', '330', '420  그란쿠페', 'i3', '528', '428   쿠페',
       '420   쿠페'], dtype=object)

In [97]:
df[df['brand']=='폭스바겐']['name'].unique()

array(['티구안', '골프', '폴로', 'GT', '투아렉 블루모션', '아테온', '파사트', '페이톤', '제타',
       '골프 블루모션', '뉴 CC 블루모션', '비틀', 'CC', '제타 블루모션', '뉴 CC', '시로코', '티록',
       '투아렉', 'CC 블루모션'], dtype=object)

In [98]:
df[df['brand']=='아우디']['name'].unique()

array(['A7', 'TT', 'A3', 'A6', 'S7', 'A8', 'A4', 'A5', 'Q5', 'R8', 'Q3',
       'Q7', 'S5', 'S6', 'S8', 'e-트론', 'S3', 'Q8', 'S4'], dtype=object)

In [99]:
df[df['brand']=='포드']['name'].unique()

array(['토러스 2.0 에코부스트', '몬데오 2.0 트렌드', '익스플로러', 'F150', '머스탱 쿠페', '토러스',
       '머스탱 컨버터블', '몬데오 2.0 티타늄'], dtype=object)

In [100]:
df[df['brand']=='미니']['name'].unique()

array(['쿠퍼', '쿠퍼 SE', '쿠퍼 컨트리맨', '쿠퍼 5도어', '쿠퍼 JCW', '로드스터',
       '쿠퍼 컨트리맨 파크래인'], dtype=object)

In [101]:
df[df['brand']=='쉐보레']['name'].unique()

array(['라세티', '다마스', '마티즈', '말리부', '아베오', '스파크', '알페온', '올란도', '윈스톰',
       '익스프레스밴', '임팔라', '카마로', '캡티바', '콜로라도', '크루즈', '트레일블레이저', '볼트',
       '트래버스', '트랙스'], dtype=object)

In [102]:
df[df['brand']=='랜드로버']['name'].unique()

array(['레인지로버 SE', '레인지로버 AB', '디스커버리 SE', '레인지로버', '레인지로버 Vogue',
       '프리랜더 SE'], dtype=object)